<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type"text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type"text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
		<link rel="stylesheet" type"text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type"text/css" href="fairchess_client/css/chessboardjs/chessboard-0.3.0.min.css">
		<link rel="stylesheet" type"text/css" href="fairchess_client/css/styles.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
		<script type="text/javascript" src="fairchess_client/js/chessboardjs/chessboard-0.3.0.min.js"></script>
		<script type="text/javascript" src="fairchess_client/js/chessjs/chess.min.js"></script>
	</head>
	<body class="bg-dark text-light">
		<div class="container mt-5">
			<div class="row fixed-top align-items-center">
				<div class="col-auto">
					<div id="back-button" class="btn btn-outline-light ml-2 d-none" onclick="back()">&lt;</div>
				</div>
				<div class="col text-center">
					<h1>Fair Chess</h1>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row">
				<div id="error" class="col d-none alert alert-danger text-center"></div>
			</div>
			<div id="home-page" class="row">
				<div class="col">
					<div class="row justify-content-center">
						<h2>Choose your opponent</h1>
					</div>
					<div class="row justify-content-center">
						<div class="col-auto">
							<div class="btn btn-outline-light" onclick="chooseGame(false)">AI</div>
						</div>
						<div class="col-auto">
							<div class="btn btn-outline-light" onclick="chooseGame(true)">Human</div>
						</div>
					</div>
				</div>
			</div>
			<div id="wait-page" class="row d-none">
				<div class="col text-center">
					<h2>Waiting for another player...</h2>
				</div>
			</div>
			<div id="game-page" class="row d-none">
				<div class="col-sm-8 px-2">
					<div class="row justify-content-center">
						<div id="board-container" class="col">
							<div id="board"></div>
						</div>
					</div>
					<div class="row d-sm-none my-2">
						<div id="status-2" class="col text-center"></div>
					</div>
					<div class="row d-sm-none mx-1 justify-content-center">
						<div class="col-1 px-0 mx-1 text-center">v</div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
						<div class="col-1 px-0 mx-1 text-center"></div>
					</div>
					<div class="row d-sm-none mx-1 justify-content-center">
						<div id="turn-0" class="col-1 px-0 mx-1"></div>
						<div id="turn-1" class="col-1 px-0 mx-1"></div>
						<div id="turn-2" class="col-1 px-0 mx-1"></div>
						<div id="turn-3" class="col-1 px-0 mx-1"></div>
						<div id="turn-4" class="col-1 px-0 mx-1"></div>
						<div id="turn-5" class="col-1 px-0 mx-1"></div>
						<div id="turn-6" class="col-1 px-0 mx-1"></div>
						<div id="turn-7" class="col-1 px-0 mx-1"></div>
						<div id="turn-8" class="col-1 px-0 mx-1"></div>
						<div id="turn-9" class="col-1 px-0 mx-1"></div>
						<div id="turn-10"class="col-1 px-0 mx-1"></div>
						<div id="turn-11"class="col-1 px-0 mx-1"></div>
					</div>
				</div>
				<div class="col-sm-4 d-none d-sm-block text-center text-sm-left px-2">
					<div class="row">
						<div class="col-auto font-weight-bold">Status</div>
						<div id="message" class="col text-center"></div>
					</div>
					<div class="row">
						<div class="col-1">Turns</div>
					</div>
					<div class="row my-2">
						<div class="col-1">&gt;</div>
						<div id="message-0" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-1" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-2" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-3" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-4" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-5" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-6" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-7" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-8" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-9" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-10" class="col-1"></div>
					</div>
					<div class="row my-2">
						<div class="col-1"></div>
						<div id="message-11" class="col-1"></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="fairchess_client/js/fairchess.js"></script>
	</body>
</html>
