.row
	.col-md-8.px-2
		.row.justify-content-center: #board-container.col: #board

		.row.d-md-none.my-2: #status-2.col.text-center

		.row.d-md-none.mx-1.justify-content-center
			.col-1.px-0.mx-1.text-center v
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center
			.col-1.px-0.mx-1.text-center.d-none
			.col-1.px-0.mx-1.text-center.d-none
			.col-1.px-0.mx-1.text-center.d-none

		.row.d-md-none.mx-1.justify-content-center
			#turn-0.col-1.px-0.mx-1
			#turn-1.col-1.px-0.mx-1
			#turn-2.col-1.px-0.mx-1
			#turn-3.col-1.px-0.mx-1
			#turn-4.col-1.px-0.mx-1
			#turn-5.col-1.px-0.mx-1
			#turn-6.col-1.px-0.mx-1
			#turn-7.col-1.px-0.mx-1
			#turn-8.col-1.px-0.mx-1
			#turn-9.col-1.px-0.mx-1.d-none
			#turn-10.col-1.px-0.mx-1.d-none
			#turn-11.col-1.px-0.mx-1.d-none

		.row.mx-2.my-2.justify-content-center
			.col-auto.align-middle Difficulty
			select#difficulty.col-4
				option(value="3") Easy
				option(selected value="4") Medium
				option(value="5") Hard

	.col-md-r.d-none.d-md-block.text-center.text-md-left.px-2
		.row
			.col-auto.font-weight-bold Status
			#message.col.text-center

		.row: .col-1 Turns

		.row.my-2
			.col-1 &gt;
			#message-0.col-1

		.row.my-2
			.col-1
			#message-1.col-1

		.row.my-2
			.col-1
			#message-2.col-1

		.row.my-2
			.col-1
			#message-3.col-1

		.row.my-2
			.col-1
			#message-4.col-1

		.row.my-2
			.col-1
			#message-5.col-1

		.row.my-2
			.col-1
			#message-6.col-1

		.row.my-2
			.col-1
			#message-7.col-1

		.row.my-2
			.col-1
			#message-8.col-1

		.row.my-2
			.col-1
			#message-9.col-1

		.row.my-2
			.col-1
			#message-10.col-1

		.row.my-2
			.col-1
			#message-11.col-1
